img{
  width:8em;
}

.picture
{
  display: flex;
  align-items: center;
  width : 12em;
  height: 18em;
  background: #eee;
  overflow: hidden;
}
.container{
  display: flex;
  flex-wrap: wrap;
}

.name{
  font-weight: bold;
}

.panel{
  margin: 0.5em;
  border:1px solid black;
  animation: fade-in 1s;
}

@keyframes fade-in
{
  0% {opacity: 0%;
    transform : scale 0 ;
  };
  100% {opacity: 100%;
  transform: scale 1;}

}
